<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.TestApp">

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".DebugActivity"></activity>

        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />

        <activity android:name=".listView.ListViewActivity" />
        <activity android:name=".fragment.ProfileActivity" />
        <activity android:name=".fragment.FlexibleFragment" />
        <activity android:name=".intent.MoveForResultActivity" />
        <activity android:name=".intent.MoveWithObjectActivity" />
        <activity android:name=".BarVolume" />
        <activity android:name=".intent.MoveWithDataActivity" />
        <activity android:name=".intent.MoveActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <!-- Baris di atas bermakna bahwa MainActivity menjadi entry point ke aplikasi. -->
                <category android:name="android.intent.category.LAUNCHER" />
                <!-- Kode di atas menandakan bahwa MainActivity akan dikategorikan sebagai activity launcher. -->
            </intent-filter>
        </activity>
    </application>

</manifest>